.DS_Store
/Library/
/Logs/
/obj/
/.vs/
/Temp/
/*.csproj
/Assets/StreamingAssets/undreamai-v1.1.6-llamacpp/
/Assets/Plugins/Android/undreamai-v1.1.6-llamacpp/
/Assets/Plugins/Android/undreamai-v1.1.6-llamacpp.meta