.DS_Store
/Library/
/Logs/
/obj/
/.vs/
/Temp/
/*.csproj
/Assets/StreamingAssets/undreamai-v*-llamacpp/
/Assets/StreamingAssets/undreamai-v*-llamacpp.meta
/Assets/Plugins/Android/undreamai-v*-llamacpp/
/Assets/Plugins/Android/undreamai-v*-llamacpp.meta